<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interface adminstrateur</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'img/icon_page.png' %}">
</head>
<body>
    <h1>Interface Administrateur</h1>
    {% for conge in conges %}
        <div class ='div_demande_recap'>
            <p>Prénom : {{conge.name}}</p>
            <p>Nom : {{conge.lastname}}</p>
            <p>Date début : {{conge.date}}</p>
            <p>Date fin : {{conge.end_date}}</p>
            <p>Raisons : {{conge.get_reason_display}}</p>
            <p>Status : {{conge.get_status_display}}</p>
            {% if conge.status == 'en_attente' %}
                <form method="POST" style="display:inline;" class="form_button">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{ conge.id }}">
                <input type="hidden" name="action" value="refuser">
                <button type="submit" class="cancelled_button">✖</button>
                </form>

                <form method="POST" style="display:inline;" class="form_button">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{ conge.id }}">
                <input type="hidden" name="action" value="valider">
                <button type="submit" class="validate_button">✔</button>
                </form>
            {% else %}
                <form method="POST" style="display:inline;" class="form_button">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{ conge.id }}">
                <input type="hidden" name="action" value="modifier">
                <button type="submit">Modifier</button>
                </form>
            {% endif %}


        </div>
    {% endfor %}
</body>
</html>