<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demande de Congés - Confirmation</title>
    <meta http-equiv="refresh" content="5;url=/" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'img/icon_page.png' %}">
</head>
<body>
    <h1>Votre demande de congés a été soumise avec succès !</h1>
    <p>Merci pour votre demande. Vous serez redirigé vers la page d'accueil dans 5 secondes.</p>
    <p>Si vous ne souhaitez pas attendre, vous pouvez <a href="/">cliquer ici</a> pour être redirigé immédiatement.</p>
</body>
</html>
